# Import Libraries

In [1]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
import numpy as np

# Import Data

In [2]:
df = pd.read_csv("../data/telematics_original.csv")

In [3]:
df.head()

,Duration,Insured.age,Insured.sex,Car.age,Marital,Car.use,Credit.score,Region,Annual.miles.drive,Years.noclaims,...,Left.turn.intensity10,Left.turn.intensity11,Left.turn.intensity12,Right.turn.intensity08,Right.turn.intensity09,Right.turn.intensity10,Right.turn.intensity11,Right.turn.intensity12,NB_Claim,AMT_Claim
0,366,45,Male,-1,Married,Commute,609.0,Urban,6213.71,25,...,1.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,1,5100.171753
1,182,44,Female,3,Married,Commute,575.0,Urban,12427.42,20,...,58.0,24.0,11.0,1099.0,615.0,219.0,101.0,40.0,1,883.554840
2,184,48,Female,6,Married,Commute,847.0,Urban,12427.42,14,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000000
3,183,71,Male,6,Married,Private,842.0,Urban,6213.71,43,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000000
4,183,84,Male,10,Married,Private,856.0,Urban,6213.71,65,...,2.0,0.0,0.0,325.0,111.0,18.0,4.0,2.0,0,0.000000

# Data Cleaning

- Check for null values

In [4]:
df.isnull().values.any()

False

- Rename columns
  - Pct.drive.rush am to Pct.drive.rush.am 
  - Pct.drive.rush pm  tp Pct.drive.rush.pm

In [5]:
df.rename(columns={"Pct.drive.rush am": "Pct.drive.rush.am", "Pct.drive.rush pm": "Pct.drive.rush.pm"}, inplace=True)

- Check data types

In [6]:
df.dtypes

Duration                    int64
Insured.age                 int64
Insured.sex                object
Car.age                     int64
Marital                    object
Car.use                    object
Credit.score              float64
Region                     object
Annual.miles.drive        float64
Years.noclaims              int64
Territory                   int64
Annual.pct.driven         float64
Total.miles.driven        float64
Pct.drive.mon             float64
Pct.drive.tue             float64
Pct.drive.wed             float64
Pct.drive.thr             float64
Pct.drive.fri             float64
Pct.drive.sat             float64
Pct.drive.sun             float64
Pct.drive.2hrs            float64
Pct.drive.3hrs            float64
Pct.drive.4hrs            float64
Pct.drive.wkday           float64
Pct.drive.wkend           float64
Pct.drive.rush.am         float64
Pct.drive.rush.pm         float64
Avgdays.week              float64
Accel.06miles             float64
Accel.08miles             float64
Accel.09miles             float64
Accel.11miles             float64
Accel.12miles             float64
Accel.14miles             float64
Brake.06miles             float64
Brake.08miles             float64
Brake.09miles             float64
Brake.11miles             float64
Brake.12miles             float64
Brake.14miles             float64
Left.turn.intensity08     float64
Left.turn.intensity09     float64
Left.turn.intensity10     float64
Left.turn.intensity11     float64
Left.turn.intensity12     float64
Right.turn.intensity08    float64
Right.turn.intensity09    float64
Right.turn.intensity10    float64
Right.turn.intensity11    float64
Right.turn.intensity12    float64
NB_Claim                    int64
AMT_Claim                 float64
dtype: object

| Continuous | Discrete | Nominal | Ordinal |
| :- | :- | :- | :- | 
| Annual.miles.drive | Duration | Insured.sex | |
| Annual.pct.driven | Insured.age | Marital | |
| Total.miles.driven | Car.age | Car.use | |
| Pct.drive.mon | Credit.score | Region | |
| Pct.drive.tue | Years.noclaims | Territory | |
| Pct.drive.wed | Accel.06miles | | |
| Pct.drive.thr | Accel.08miles | | |
| Pct.drive.fri | Accel.09miles | | |
| Pct.drive.sat | Accel.11miles | | |
| Pct.drive.sun | Accel.12miles | | |
| Pct.drive.2hrs | Accel.14miles | | |
| Pct.drive.3hrs | Brake.08miles | | |
| Pct.drive.4hrs | Brake.09miles | | |
| Pct.drive.wkday  | Brake.11miles | | |
| Pct.drive.wkend | Brake.12miles | | |
| Pct.drive.rush.am | Brake.14miles | | | 
| Pct.drive.rush.pm | Left.turn.intensity08 | | | 
| Avgdays.week | Left.turn.intensity09 | | | 
| | Left.turn.intensity10 | | | 
| | Left.turn.intensity11 | | | 
| | Left.turn.intensity12 | | | 
| | Right.turn.intensity08| | | 
| | Right.turn.intensity09 | | | 
| | Right.turn.intensity10 | | | 
| | Right.turn.intensity11 | | | 
| | Right.turn.intensity12 | | | 

| Target | Type |
| :- | :- | 
| NB_Claim | Discrete |
| AMT_Claim | Continuous |

- Change incorrect data types

In [7]:
df[["Credit.score","Accel.06miles","Accel.08miles","Accel.09miles","Accel.11miles","Accel.12miles","Accel.14miles","Brake.06miles","Brake.08miles","Brake.09miles","Brake.11miles","Brake.12miles","Brake.14miles","Left.turn.intensity08","Left.turn.intensity09","Left.turn.intensity10","Left.turn.intensity11","Left.turn.intensity12","Right.turn.intensity08","Right.turn.intensity09","Right.turn.intensity10","Right.turn.intensity11","Right.turn.intensity12"]] = df[["Credit.score","Accel.06miles","Accel.08miles","Accel.09miles","Accel.11miles","Accel.12miles","Accel.14miles","Brake.06miles","Brake.08miles","Brake.09miles","Brake.11miles","Brake.12miles","Brake.14miles","Left.turn.intensity08","Left.turn.intensity09","Left.turn.intensity10","Left.turn.intensity11","Left.turn.intensity12","Right.turn.intensity08","Right.turn.intensity09","Right.turn.intensity10","Right.turn.intensity11","Right.turn.intensity12"]].astype('int64')

- Encode data with type object

| Insured.sex | Marital | Region | Car.use | 
| :- | :- | :- | :- | 
| 0 : Female | 0 : Married | 0 : Rural | 0 : Commercial |
| 1 : Male | 1 : Single | 1 : Urban | 1 : Commute |
| | | | 2 : Farmer |
| | | | 3 : Private |

In [8]:
ord_enc = OrdinalEncoder(dtype="int64")
df[["Insured.sex.nominal","Marital.nominal","Car.use.nominal","Region.nominal"]] = ord_enc.fit_transform(df[["Insured.sex","Marital","Car.use","Region"]])
# Default encoding is alphabetically
ord_enc.categories_

[array(['Female', 'Male'], dtype=object),
 array(['Married', 'Single'], dtype=object),
 array(['Commercial', 'Commute', 'Farmer', 'Private'], dtype=object),
 array(['Rural', 'Urban'], dtype=object)]

In [9]:
# Rename Territory 
df.rename(columns={"Territory": "Territory.nominal"}, inplace=True)

In [10]:
# Change dtype to category
# Cannot save and read as csv with this dtype 
df[["Insured.sex.nominal","Marital.nominal","Car.use.nominal","Region.nominal", "Territory.nominal"]] = df[["Insured.sex.nominal","Marital.nominal","Car.use.nominal","Region.nominal", "Territory.nominal"]].astype('category')

In [11]:
df.dtypes

Duration                     int64
Insured.age                  int64
Insured.sex                 object
Car.age                      int64
Marital                     object
Car.use                     object
Credit.score                 int64
Region                      object
Annual.miles.drive         float64
Years.noclaims               int64
Territory.nominal         category
Annual.pct.driven          float64
Total.miles.driven         float64
Pct.drive.mon              float64
Pct.drive.tue              float64
Pct.drive.wed              float64
Pct.drive.thr              float64
Pct.drive.fri              float64
Pct.drive.sat              float64
Pct.drive.sun              float64
Pct.drive.2hrs             float64
Pct.drive.3hrs             float64
Pct.drive.4hrs             float64
Pct.drive.wkday            float64
Pct.drive.wkend            float64
Pct.drive.rush.am          float64
Pct.drive.rush.pm          float64
Avgdays.week               float64
Accel.06miles                int64
Accel.08miles                int64
Accel.09miles                int64
Accel.11miles                int64
Accel.12miles                int64
Accel.14miles                int64
Brake.06miles                int64
Brake.08miles                int64
Brake.09miles                int64
Brake.11miles                int64
Brake.12miles                int64
Brake.14miles                int64
Left.turn.intensity08        int64
Left.turn.intensity09        int64
Left.turn.intensity10        int64
Left.turn.intensity11        int64
Left.turn.intensity12        int64
Right.turn.intensity08       int64
Right.turn.intensity09       int64
Right.turn.intensity10       int64
Right.turn.intensity11       int64
Right.turn.intensity12       int64
NB_Claim                     int64
AMT_Claim                  float64
Insured.sex.nominal       category
Marital.nominal           category
Car.use.nominal           category
Region.nominal            category
dtype: object

- Drop duplicate columns

In [12]:
df.drop(columns=["Insured.sex", "Marital", "Car.use", "Region"], inplace=True)

In [13]:
df.head()

,Duration,Insured.age,Car.age,Credit.score,Annual.miles.drive,Years.noclaims,Territory.nominal,Annual.pct.driven,Total.miles.driven,Pct.drive.mon,...,Right.turn.intensity09,Right.turn.intensity10,Right.turn.intensity11,Right.turn.intensity12,NB_Claim,AMT_Claim,Insured.sex.nominal,Marital.nominal,Car.use.nominal,Region.nominal
0,366,45,-1,609,6213.71,25,70,0.849315,8864.376247,0.148070,...,1,0,0,0,1,5100.171753,1,0,1,1
1,182,44,3,575,12427.42,20,26,0.465753,8092.308208,0.147686,...,615,219,101,40,1,883.554840,0,0,1,1
2,184,48,6,847,12427.42,14,84,0.520548,3225.832512,0.153735,...,0,0,0,0,0,0.000000,0,0,1,1
3,183,71,6,842,6213.71,43,30,0.065753,253.024528,0.106702,...,0,0,0,0,0,0.000000,1,0,3,1
4,183,84,10,856,6213.71,65,70,0.441096,4374.379634,0.123807,...,111,18,4,2,0,0.000000,1,0,3,1

-  Create new columns

In [14]:
df["Pct.drive.rush"] = df["Pct.drive.rush.am"] + df["Pct.drive.rush.pm"]

In [16]:
# We could make this a function of Duration instead
df["Total.days.driven"] = np.ceil(df["Annual.pct.driven"]*365).astype('int64')

# Rename all columnes 

Needed for R style formula

In [17]:
df.columns = [c.replace(".", "_") for c in list(df.columns)]

# Create Claim

In [18]:
df['Claim'] = (df['NB_Claim']>=1)*1

# Export Data

In [19]:
df.to_csv("../data/telematics_clean.csv", index=False)